<h3>
  COMICS</h3>
<div class="mdl-grid">
  {{project-list-item}}
  {{project-list-item}}
  {{project-list-item}}
</div>
<h3>MOVIES</h3>
<div class="mdl-grid">
  {{project-list-item}}
  {{project-list-item}}
  {{project-list-item}}
</div>
{{outlet}}
