<div class="comic-card demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <img class="com-tile-img"src="{{tile.url}}" alt="">
    <p class="com-caption">{{tile.caption}}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{#mdl-button on-click=(action 'delete' tile)}}
      <i class="fa fa-trash"></i>
    {{/mdl-button}}
    {{#link-to 'projects.tiles.edit' tile class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
      <i class="fa fa-pencil"></i>
    {{/link-to}}
  </div>
</div>

{{#if editing}}
  {{#mdl-card title='My card' class="comic-card"}}
    <div class="mdl-card__supporting-text">
      {{input placeholder="Url" value=tile.url}}
      {{input placeholder="Url" value=tile.caption}}
    </div>
    {{#mdl-card-actions}}
      {{mdl-button text='Get Started'}}
    {{/mdl-card-actions}}
    {{#mdl-card-buttons}}
      {{mdl-button icon='share'}}
    {{/mdl-card-buttons}}
  {{/mdl-card}}
{{/if}}
