<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>{{model.title}}</h3>
  </div>
</div>
<div class="mdl-grid">
  {{#each model.tiles as |tile|}}
    {{project-edit-items tile=tile currentlyEditing=tileService.currentlyEditing onSave='tileHasSaved'}}
  {{/each}}

  <a href="#" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone" {{action 'addTile' model}}>
    <div class="comic-card demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        {{mdl-icon icon='add'}}

      </div>
    </div>
  </a>
</div>
<div class="actions">
  {{mdl-button isFloating=true icon='star'}}
</div>
